.container {
  width: 458px;
  height: 480px;
  margin: 0 auto;
  transition: opacity var(--dismantleDuration) ease,
    transform var(--dismantleDuration) ease;
}

.prev {
  opacity: 0;
  transform: scale(0.96);
}
